# Luke, I Am Your ...
 1. Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.

Person	      Relation\
Darth Vader	  father\
Leia	      sister\
Han	          brother in law\
R2D2	      droid\
Examples:\
relation_to_luke("Darth Vader") ➞ "Luke, I am your father."\
relation_to_luke("Leia") ➞ "Luke, I am your sister."\
relation_to_luke("Han") ➞ "Luke, I am your brother in law."\

In [1]:
def relation_to_luke(name):
    relations = {"Darth Vader": "father", "Leia": "sister","Han": "brother in law","R2D2": "droid"}

    if name in relations:
        return "Luke, I am your {}.".format(relations[name])
    else:
        return "I'm sorry, I don't recognize that person."

In [2]:
relation_to_luke("Darth Vader")

'Luke, I am your father.'

In [3]:
relation_to_luke("Leia")

'Luke, I am your sister.'

In [4]:
relation_to_luke("Han")

'Luke, I am your brother in law.'

# Calculating Damage
2. Create a function that takes damage and speed (attacks per second) and returns the amount of damage after a given time.

Examples\
damage(40, 5, "second") ➞ 200\
damage(100, 1, "minute") ➞ 6000\
damage(2, 100, "hour") ➞ 720000\
Notes
Return "invalid" if damage or speed is negative.

In [31]:
def damage(x,y,z):
    if x<0 or y<0:
        return "invalid"
    elif z=="second":
        return x*y
    elif z=="minute":
        return x*y*60
    elif z=="hour":
        return x*y*3600
    else:
        return "none"

In [27]:
damage(40, 5, "second")

200

In [28]:
damage(100, 1, "minute")

6000

In [29]:
damage(2, 100, "hour")

720000

In [30]:
damage(-100, 1, "hour")

'invalid'

# Same Parity?
3. Create a function that takes a number as input and returns True if the sum of its digits has the same parity as the entire number Otherwise, return False.

Examples\
parity_analysis(243) ➞ True\
243 is odd and so is 9 (2 + 4 + 3)\

parity_analysis(12) ➞ False\
12 is even but 3 is odd (1 + 2)\

parity_analysis(3) ➞ True\
3 is odd and 3 is odd and 3 is odd (3)\
Notes\
Parity is whether a number is even or odd. If the sum of the digits is even and the number itself is even, return True. 
The same goes if the number is odd and so is the sum of its digits.
Single digits will obviously have the same parities (see example #3).

In [49]:
def parity_analysis(num):
    digit_sum = sum(int(digit) for digit in str(num))
    return num % 2 == digit_sum % 2

In [50]:
parity_analysis(243)

True

In [51]:
parity_analysis(12)

False

In [52]:
parity_analysis(3)

True

# Xs and Os, Nobody Knows
4. Create a function that takes a string, checks if it has the same number of "x"s and "o"s and returns either True or False.

Return a boolean value (True or False). Return True if the amount of x's and o's are the same. Return False if they aren't the same amount. The string can contain any character. When "x" and "o" are not in the string, return True. Examples XO("ooxx") ➞ True

XO("xooxx") ➞ False

XO("ooxXm") ➞ True
Case insensitive.

XO("zpzpzpp") ➞ True
Returns True if no x and o.

XO("zzoo") ➞ False

In [73]:
def XO(string):
    string_lower = string.lower()
    count_x = string_lower.count('x')
    count_o = string_lower.count('o')
    return count_x == count_o

In [74]:
XO("xooxx")

False

In [75]:
XO("ooxXm")

True

In [76]:
XO("zpzpzpp")

True

In [77]:
XO("zzoo")

False

# Flip the Boolean
5. Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.

Examples reverse(True) ➞ False

reverse(False) ➞ True

reverse(0) ➞ "boolean expected"

reverse(None) ➞ "boolean expected"

Notes:  Don't forget to return the result. If you get stuck on a challenge, find help in the Resources tab. If you're really stuck, unlock solutions in the Solutions tab.

In [9]:
def reverse(boolean):
    if type(boolean) == bool:
        return not boolean
    else: 
         return "boolean expected"

In [10]:
reverse(True)

False

In [11]:
reverse(False)

True

In [12]:
reverse(0)

'boolean expected'

In [13]:

reverse(None)

'boolean expected'

# Even Number Generator
6 Using list comprehensions, create a function that finds all even numbers from 1 to the given number.

Examples find_even_nums(8) ➞ [2, 4, 6, 8]

find_even_nums(4) ➞ [2, 4]

find_even_nums(2) ➞ [2] 

Try to use list comprehensions in your solution. 

Here's an example:

vals = [expression for value in collection if condition] This is equivalent to:

vals = [] for value in collection: if condition: vals.append(expression)

In [20]:
def find_even_nums(n):
    return [num for num in range(1, n+1) if num % 2 == 0]

def find_even_num(x):
    a=[]
    for y in range (1,x+1):
        if y%2==0:
            a.append(y)
    return a

In [21]:
find_even_nums(8)

[2, 4, 6, 8]

In [22]:
find_even_nums(4)

[2, 4]

# Filter Strings from Array
7. Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

Examples 

filter_list( [1, 2, 3, "a", "b", 4] ) ➞ [1, 2, 3, 4]

filter_list( ["A", 0, "Edabit", 1729, "Python", "1729"] ) ➞ [0, 1729]

filter_list( ["Nothing", "here"] ) ➞ [ ]

In [131]:
def filter_list(lst):
    outcome = []
    for item in lst:
        if type(item)==int:
            outcome.append(item)
    return outcome

In [132]:
filter_list( [1, 2, 3, "a", "b", 4] )

[1, 2, 3, 4]

In [133]:
filter_list( ["A", 0, "Edabit", 1729, "Python", "1729"] )

[0, 1729]

In [135]:
filter_list( ["Nothing", "here"] )

[]

# Stand in Line
8. Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

Examples:

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([ ], 6) ➞ "No list has been selected" 

Notes For an empty list input, return: "No list has been selected"

In [153]:
def next_in_line(lst, num):
    if not lst:
        return "No list has been selected"
    lst.pop(0)
    lst.append(num)
    return lst

In [154]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [155]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [156]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [157]:
next_in_line([ ], 6)

'No list has been selected'

# Card Counting (BlackJack)
9. In BlackJack, cards are counted with -1, 0, 1 values:

   2, 3, 4, 5, 6 are counted as +1 \
   7, 8, 9 are counted as 0 \
   10, J, Q, K, A are counted as -1 \

Create a function that counts the number and returns it from the list of cards provided.

Examples count([5, 9, 10, 3, "J", "A", 4, 8, 5]) ➞ 1

count(["A", "A", "K", "Q", "Q", "J"]) ➞ -6

count(["A", 5, 5, 2, 6, 2, 3, 8, 9, 7]) ➞ 5 

Notes: String inputs will always be upper case. You do not need to consider case sensitivity. 

If the argument is empty, return 0. No input other than: 2, 3, 4, 5, 6, 7, 8, 9, 10, "J", "Q", "K", "A".

In [23]:
def count(cards):
    count = 0
    for card in cards:
        if card in [2, 3, 4, 5, 6]:
            count += 1
        elif card in [10, "J", "Q", "K", "A"]:
            count -= 1
    return count

In [25]:
count([5, 9, 10, 3, "J", "A", 4, 8, 5])

1

In [26]:
count(["A", "A", "K", "Q", "Q", "J"])

-6

In [27]:
count(["A", 5, 5, 2, 6, 2, 3, 8, 9, 7])

5

# Western Showdown
10. Wild Roger is participating in a Western Showdown, meaning he has to draw (pull out and shoot) his gun faster than his opponent in a gun standoff.

Given two strings,p1 and p2, return which person drew their gun the fastest. If both are drawn at the same time, return "tie".

Examples:
showdown( " Bang! ", " Bang! " ) ➞ "p1"

p1 draws his gun sooner than p2
showdown( " Bang! ", " Bang! " ) ➞ "p2"

showdown( " Bang! ", " Bang! " ) ➞ "tie" 

Notes: Both strings are the same length.

In [16]:
def showdown(p1,p2):
    if p1.index("B")>p2.index("B"):
        return "p2"
    elif p1.index("B")<p2.index("B"):
        return "p1"
    else:
        return "tie"

In [17]:
showdown(
  "   Bang!        ",
  "        Bang!   "
)

'p1'

In [18]:
showdown(
  "     Bang!   ",
  "    Bang!   "
)

'p2'

In [20]:
showdown(
  "               Bang! ",
  "               Bang!   "
)

'tie'

# Is the Number Symmetrical?
11. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples:
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [55]:
def palindrome (num):
    input_num = str(num)
    return input_num == input_num[::-1]

In [56]:
palindrome (727)

True

In [57]:
palindrome ((12567))

False

In [58]:
palindrome(44444444)

True

# Minimal VI: Ternary Operator
12. Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section below.

Write a function that returns the strings:

"both" if both given booleans a and b are True.\
"first" if only a is True.\
"second" if only b is True.\
"neither" if both a and b are False.\

Tips
If-else statements can be written as a oneliner using Python's ternary operator.

For example, the code:

def startswith(name):\
  if name[0] in "AEIOU":\
    return "vowel"\
  else:\
    return "consonant"
    
Can be simplified to:

def startswith(name): \
return "vowel" if name[0] in "AEIOU" else "consonant"

In [99]:
def both_bool_or_not(a,b):
    return "both" if type(a)==bool and type(b)==bool else "first" if type(a)==bool and type(b)!=bool \
else "second" if type(a)!=bool and type(b)==bool else "neither"

In [100]:
both_bool_or_not("True",1)

'neither'

In [101]:
both_bool_or_not("True",False)

'second'

In [102]:
both_bool_or_not(True,False)

'both'

In [103]:
both_bool_or_not(True,1)

'first'

# Hot Pics of Danny DeVito!
13. I am trying to watch some lectures to study for my next exam but I keep getting distracted by meme compilations, vine compilations, anime, and more on my favorite video platform.

Your job is to help me create a function that takes a string and checks to see if it contains the following words or phrases:

"anime"
"meme"
"vines"
"roasts"
"Danny DeVito"

If it does, return "NO!". Otherwise, return "Safe watching!".

Examples:
prevent_distractions("vines that butter my eggroll") ➞ "NO!"

prevent_distractions("Hot pictures of Danny DeVito") ➞ "NO!"

prevent_distractions("How to ace BC Calculus in 5 Easy Steps") ➞ "Safe watching!

In [72]:
def prevent_distractions(x):
    x=str(x)
    if "anime" in x or "meme" in x or "vines" in x or "roasts" in x or "Danny DeVito" in x:
        return "NO!"
    else:
        return "safe watching"

In [73]:
prevent_distractions("vines that butter my eggroll")

'NO!'

In [74]:
prevent_distractions("Hot pictures of Danny DeVito")

'NO!'

In [75]:
prevent_distractions("How to ace BC Calculus in 5 Easy Steps")

'safe watching'

# Equality of 3 Values
14. Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.
Examples:

equal(3, 4, 3) ➞ 2

equal(1, 1, 1) ➞ 3

equal(3, 4, 1) ➞ 0 

Notes: Your function must return 0, 2 or 3.

In [105]:
def equal(num1,num2,num3):
    return 3 if num1==num2==num3 else 2 if num1==num2 or num1==num3 or num2==num3 else 0

In [106]:
equal(3, 4, 3)

2

In [107]:

equal(1, 1, 1)

3

In [108]:

equal(3, 4, 1)

0

# Vowel Sandwich
15. Create a function which validates whether a 3 character string is a vowel sandwich. In order to have a valid sandwich, the string must satisfy the following rules:

The first and last characters must be a consonant.
The character in the middle must be a vowel.

Examples:

is_vowel_sandwich("cat") ➞ True

is_vowel_sandwich("ear") ➞ False

is_vowel_sandwich("bake") ➞ False

is_vowel_sandwich("try") ➞ False

Notes:

Return False if the word is not 3 characters in length.
All words will be given in lowercase.
y is not considered a vowel.

In [2]:
def is_vowel_sandwich(word):
    vowels='aeiouAEIOU'
    if len(word)==3 and word[1] in vowels and word[0] not in vowels and word[2] not in vowels:
        return True
    else:
        return False

In [3]:
is_vowel_sandwich("cat")

True

In [4]:
is_vowel_sandwich("ear")

False

In [5]:
is_vowel_sandwich("bake")

False

In [6]:
is_vowel_sandwich("try")

False

In [10]:
test_cases=['cat','dog','ear','try','bake']

In [8]:
for test_case in test_cases:
    print(test_case,is_vowel_sandwich(test_case))

cat True
dog True
ear False
try False
bake False

In [9]:
def list_is_vowel_sandwich(lst):
    dict1 = {}
    for word in lst:
        vowels='aeiouAEIOU'
        if len(word)==3 and word[1] in vowels and word[0] not in vowels and word[2] not in vowels:
            dict1[word]=True
        else:
            dict1[word]=False
    return dict1

In [11]:
list_is_vowel_sandwich(test_cases)

{'cat': True, 'dog': True, 'ear': False, 'try': False, 'bake': False}

def is_vowel_sandwich(word):
    # Check if the word is exactly 3 characters long
    if len(word) != 3:
        return False

    # Define the list of vowels and consonants
    vowels = ['a', 'e', 'i', 'o', 'u']
    consonants = [chr(c) for c in range(ord('a'), ord('z') + 1) if chr(c) not in vowels]

    # Check the conditions for a vowel sandwich
    if word[0] in consonants and word[1] in vowels and word[2] in consonants:
        return True
    else:
        return False

def is_vowel_sandwich(s):
    middle_char=0;end_char=0
    if len(s)==3:
        for x in s:
            if x=="a" or x=="e" or x=="i" or x=="o" or x=="u":
                middle_char+=1
            else:
                end_char+=1
        return (end_char==2 and middle_char==1)
    else:
        return False

# Split a String Based on Vowels and Consonants

16.  Write a function that takes a string, breaks it up and returns it with vowels first, consonants second. For any character that's not a vowel (like special characters or spaces), treat them like consonants.

Examples
split("abcde") ➞ "aebcd"

split("Hello!") ➞ "eoHll!"

split("What's the time?") ➞ "aeieWht's th tm?"

Notes:
Define a separate is_vowel() function for easier to read code (recommendation).

In [16]:
name = 'Is Anurag learning pyth@n?'

In [17]:
def split_v_c(w):
    v = 'aeiouAEIOU'
    prefix = ''
    suffix = ''
    for letter in w:
        if letter in v:
            prefix=prefix+letter
        else:
            suffix=suffix+letter
    return prefix+suffix

In [18]:
split_v_c(name)

'IAuaeais nrg lrnng pyth@n?'

# Count the Letters and Digits
17. Write a function that takes a string and calculates the number of letters and digits within it. Return the result in a dictionary.

Examples:

count_all("Hello World") ➞ { "LETTERS":  10, "DIGITS": 0 }

count_all("H3ll0 Wor1d") ➞ { "LETTERS":  7, "DIGITS": 3 }

count_all("149990") ➞ { "LETTERS": 0, "DIGITS": 6 }

Notes:

Tests contain only alphanumeric characters.

Spaces are not letters.

All tests contain valid strings.

In [37]:
def count_all(string):
    LETTERS=0
    NUMBERS=0
    for char in string:
        if char.isalpha():
            LETTERS=LETTERS+1
        elif char.isnumeric():
            NUMBERS=NUMBERS+1
    return{'LETTERS':LETTERS,'NUMBERS':NUMBERS}

In [4]:
count_all("Hello World")

{'LETTERS': 10, 'NUMBERS': 0}

In [35]:
count_all("H3ll0 Wor1d")

{'LETTERS': 7, 'NUMBERS': 3}

In [36]:
count_all("149990")

{'LETTERS': 0, 'NUMBERS': 6}

# Sum of Number Elements in a List
18. Lists can be mixed with various types. Your task for this challenge is to sum all the number elements in the given list. Create a function that takes a list and returns the sum of all numbers in the list.

Examples:

numbers_sum([1, 2, "13", "4", "645"]) ➞ 3

numbers_sum([True, False, "123", "75"]) ➞ 0

numbers_sum([1, 2, 3, 4, 5, True]) ➞ 15

In [75]:
def numbers_sum(lst):
    sum1=0
    for element in lst:
        if type(element)==int:
            sum1=sum1+element
        
    return sum1

In [76]:
numbers_sum([1, 2, "13", "4", "645"])

3

In [77]:
numbers_sum([True, False, "123", "75"])

0

In [78]:
numbers_sum([1, 2, 3, 4, 5, True])

15

# Older Than Me
19. Create a method in the Person class which returns how another person's age compares. Given the objects p1, p2 and p3, which will be initialised with the attributes name and age, return a sentence in the following format:

{other_person} is {older than / younger than / the same age as} me.

Examples:

p1 = Person("Samuel", 24)

p2 = Person("Joel", 36)

p3 = Person("Lily", 24)

p1.compare_age(p2) ➞ "Joel is older than me."

p2.compare_age(p1) ➞ "Samuel is younger than me."

p1.compare_age(p3) ➞ "Lily is the same age as me."

Notes:
Check out the Resources tab for some helpful tutorials on Python classes!

If you're really stuck, check out the Solutions tab for answers.

# Minimal V: Membership Operator
20. Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section below.

Write a function that returns the boolean True if the given two lists do not share any numbers, and False otherwise.

Tips:
The operators in and not in test for membership. x in s evaluates to True if x is a member of s, and False otherwise.

For example, the code:

def startswithvowel(word):

    for vowel in "aeiou":
        if word[0] == vowel:
            return True
    return False
    
Can be simplified to:

def startswithvowel(word):

    return word[0] in "aeiou"

In [1]:
def no_duplicate_elements(a, b):
    for x in a:
        if x in b:
            return False
    return True

In [3]:
no_duplicate_elements([1, 2, 3], [4, 5, 6])

True

In [4]:
no_duplicate_elements([1, 2, 3], [1,2,3,4, 5, 6])

False

#  H4ck3r Sp34k
21. Create a function that takes a string as an argument and returns a coded (h4ck3r 5p34k) version of the string.

Examples hacker_speak("javascript is cool") ➞ "j4v45cr1pt 15 c00l"

hacker_speak("programming is fun") ➞ "pr0gr4mm1ng 15 fun"

hacker_speak("become a coder") ➞ "b3c0m3 4 c0d3r" 

Notes: In order to work properly, the function should replace all "a"s with 4, "e"s with 3, "i"s with 1, "o"s with 0, and "s"s with 5.

In [5]:
def hacker_speak(x):
        x=x.replace("a","4")
        x=x.replace("e","3")
        x=x.replace("i","1")
        x=x.replace("o","0")
        return x

In [6]:
hacker_speak("javascript is cool")

'j4v4scr1pt 1s c00l'

In [7]:
hacker_speak("programming is fun")

'pr0gr4mm1ng 1s fun'

In [8]:
hacker_speak("become a coder")

'b3c0m3 4 c0d3r'

# Positive Count / Negative Sum
22 . Create a function that takes a list of positive and negative numbers. Return a list where the first element is the count of positive numbers and the second element is the sum of negative numbers.

Examples:

sum_neg([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]) ➞ [10, -65]

There are a total of 10 positive numbers.

The sum of all negative numbers equals -65.

sum_neg([92, 6, 73, -77, 81, -90, 99, 8, -85, 34]) ➞ [7, -252]

sum_neg([91, -4, 80, -73, -28]) ➞ [2, -105]

sum_neg( [ ] ) ➞ [ ]

Notes If given an empty list, return an empty list: [ ] 0 is not positive.

In [9]:
def sum_neg(lst):
    positive_count = len([num for num in lst if num > 0])
    negative_sum = 0
    for num in lst:
        if num < 0:
            negative_sum += num
    return [positive_count, negative_sum]

In [10]:
sum_neg([92, 6, 73, -77, 81, -90, 99, 8, -85, 34])

[7, -252]

In [11]:
sum_neg([91, -4, 80, -73, -28])

[2, -105]

In [12]:
sum_neg( [ ] )

[0, 0]

# Switcharoo
23. Create a function that takes a string and returns a new string with its first and last characters swapped, except under three conditions:

If the length of the string is less than two, return "Incompatible.". If the argument is not a string, return "Incompatible.". If the first and last characters are the same, return "Two's a pair.".

Examples:

flip_end_chars("Cat, dog, and mouse.") ➞ ".at, dog, and mouseC"

flip_end_chars("ada") ➞ "Two's a pair."

flip_end_chars("Ada") ➞ "adA"

flip_end_chars("z") ➞ "Incompatible."

flip_end_chars([1, 2, 3]) ➞ "Incompatible." 

Notes Tests are case sensitive (e.g. "A" and "a" are not the same character).

In [22]:
def flip_end_chars(v):
    if len(v)<2 or type(v)!=str:
        return "incompatible"
    if v[0] == v[-1]:
        return "Two's a pair."
    
    return v[-1] + v[1:-1] + v[0]

In [23]:
flip_end_chars("ada")

"Two's a pair."

In [24]:
flip_end_chars("Ada")

'adA'

In [25]:
flip_end_chars("Cat, dog, and mouse.")

'.at, dog, and mouseC'

In [1]:
x="abc "

In [2]:
x.isalpha()

False

# Error Messages
24 . Create a function that takes a number as an argument and returns the appropriate error message. You should do this without using the switch or if statements.

The input error will be 1 to 5:

1 >> "Check the fan: e1" \
2 >> "Emergency stop: e2" \
3 >> "Pump Error: e3" \
4 >> "c: e4" \
5 >> "Temperature Sensor Error: e5" \
For any other value, return 101 (you can use an if statement here).

Examples:

error(1) ➞ "Check the fan: e1"

error(2) ➞ "Emergency stop: e2"

error(3) ➞ "Pump Error: e3" 

Notes Do this without using the switch or if statements.

In [28]:
def error(key):
    error_message_dic={1: "Check the fan: e1", 2: "Emergency stop: e2", 3: "Pump Error: e3", 4: "c: e4", 5: "Temperature Sensor Error: e5"}
    
    if key not in range(1,6):
        return 101
    else:
        return error_message_dic[key]

In [29]:
error(0)

101

In [30]:
error(1)

'Check the fan: e1'

In [31]:
error(2)

'Emergency stop: e2'

In [32]:
error(3)

'Pump Error: e3'

# Balancing Scales
25. Given a list with an odd number of elements, return whether the scale will tip "left" or "right" based on the sum of the numbers. The scale will tip on the direction of the largest total. If both sides are equal, return "balanced".

Examples 
scale_tip([0, 0, "I", 1, 1]) ➞ "right"\
0 < 2 so it will tip right

scale_tip([1, 2, 3, "I", 4, 0, 0]) ➞ "left"\
6 > 4 so it will tip left

scale_tip([5, 5, 5, 0, "I", 10, 2, 2, 1]) ➞ "balanced"\
15 = 15 so it will stay balanced

Notes:
The middle element will always be "I" so you can just ignore it.\
Assume the numbers all represent the same unit. Both sides will have the same number of elements.\
There are no such things as negative weights in both real life and the tests

In [42]:
def scale_tip(lst):
    middle_char=len(lst)//2
    if len(lst)%2!=0:
        left_sum= sum(lst[:middle_char])
        right_sum= sum(lst[middle_char+1:])
        
        if left_sum>right_sum:
            return "left"
        elif right_sum>left_sum:
            return "right"
        else:
            return "balanced"

In [43]:
 scale_tip([0, 0, "I", 1, 1])

'right'

In [44]:
scale_tip([1, 2, 3, "I", 4, 0, 0])

'left'

In [45]:
scale_tip([5, 5, 5, 0, "I", 10, 2, 2, 1])

'balanced'

# 26 Emotify the Sentence
Create a function that changes specific words into emoticons. Given a sentence as a string, replace the words smile, grin, sad and mad with their corresponding emoticons.

word emoticon smile :D grin :) sad :( mad :P 

Examples: emotify("Make me smile") ➞ "Make me :D"

emotify("Make me grin") ➞ "Make me :)"

emotify("Make me sad") ➞ "Make me :(" 

Notes: The sentence always starts with "Make me". Try to solve this without using conditional statements like if/else.

In [52]:
def emotify(sentence):
    emoticons = {"smile": ":D", "grin": ":)", "sad": ":(" , "mad": ":P"}
    
    words = sentence.split()
    for char in range(len(words)):
        if words[char] in emoticons:
            words[char] = emoticons[words[char]]
    
    return ' '.join(words)

In [49]:
emotify("Make me smile")

'Make me :D'

In [50]:
emotify("Make me grin")

'Make me :)'

In [51]:
emotify("Make me sad")

'Make me :('

# 27 Create a function that takes the month and year (as integers) and returns the number of days in that month.
Examples day_amount(2, 2018) ➞ 28

day_amount(4, 654) ➞ 30

day_amount(2, 200) ➞ 28

day_amount(2, 1000) ➞ 28

In [3]:
def day_amount(month, year):
    if month in [1,3,5,7,8,10,12]:
        return 31
    elif ((year%4==0 and year % 100 != 0) or (year % 400 == 0 and year%100==0)) and month==2:
        return 29
    elif month==2:
        return 28
    else:
        return 30

In [4]:
day_amount(2,1924)

29

In [5]:
day_amount(2, 2018)

28

In [6]:
day_amount(4, 654)

30

In [7]:
day_amount(12, 2023)

31

# 28 Changing Mixed Types
Create a function that changes all the elements in a list as follows:

Add 1 to all even integers, nothing to odd integers.

Concatenates "!" to all strings and make the first letter of the word a capital letter.

Changes all boolean values to its opposite. 

Examples:

change_types(["a", 12, True]) ➞ ["A!", 13, False]

change_types([13, "13", "12", "twelve"]) ➞ [13, "13!", "12!", "Twelve!"]

change_types([False, "False", "true"]) ➞ [True, "False!", "True!"] 

Notes: There won't be any float values. You won't get strings with both numbers and letters in them. Although the task may be easy, try keeping your code as clean and as readable as possible!

In [27]:
def change_types(lst):
    for element in range(0,len(lst)):
        if type(lst[element])==int and lst[element]%2==0:
                lst[element]+=1
        elif type(lst[element])==str:
            lst[element]=lst[element].capitalize()+"!"
        elif type(lst[element])==bool:
            lst[element]= not(lst[element])
        else:
            continue
        
    return lst

In [28]:
change_types(["a", 12, True])

['A!', 13, False]

In [29]:
change_types([13, "13", "12", "twelve"])

[13, '13!', '12!', 'Twelve!']

In [30]:
change_types([False, "False", "true"])

[True, 'False!', 'True!']

# 29 Minimal VIII: This and That

Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section below.

Write a function that returns the third character of the third string in a given list of strings. Return False if it can't be found.

Tips The operator and can be used to assign or return the first falsy value among two or more elements. If no falsy value is found, the last element will be returned.

For example, the code:

def all_of_these(a, b, c): return a if not a else b if not b else c Can be simplified to:

def all_of_these(a, b, c): return a and b and c 

Bonus:

Once a falsy value is found, the rest of the elements will not be checked. For example, if we wanted to access the first element of a list, but the list happened to be empty, we would get an error. We can use and to work around this issue:

lst1 = [1, 2, 3] 

lst2 = [ ]

lst1 and lst1[0] ➞ 1 

lst2 and lst2[0] ➞ [ ]

In [4]:
def third_char_third_string_list(lst):
    return lst[2][2] if len(lst) >= 3 and len(lst[2]) >= 3 else False

In [5]:
third_char_third_string_list(["hello", "hi", "how", "are", "you"])

'w'

In [6]:
third_char_third_string_list(["hello", "hi", "ho", "are", "you"])

False

In [7]:
third_char_third_string_list(["hello", "hi", ])

False

# 30 Malthusian Catastrophe
A man named Thomas Malthus described what is now called a Malthusian Catastrophe. According to him, food production grows by a fixed amount, but population grows by a percentage. So, the food supply would soon be insufficient for the population.

Your job is to find out when that will occur. For this challenge, assume 1 population needs 1 unit of food production. Food production and population both start at 100. The year starts at 0.

The catastrophe happens when the population is larger than food production.

The function will pass:

food_growth ⁠— an integer ⁠— food production increase per year. pop_mult ⁠— a floating-point number ⁠— population growth multiplier per year. Examples malthusian(4255, 1.41) ➞ 20

In [14]:
def malthusian(food_prod_growth,pop_mult):
    food_prod=100; population=100;year=0
    
    while food_prod>=population:
        food_prod+=food_prod_growth
        population*=pop_mult
        year+=1
    return year

In [15]:
malthusian(4255, 1.41)

20


# 31 Special Lists
A list is special if every even index contains an even number and every odd index contains an odd number. Create a function that returns True if an array is special, and False otherwise.

Examples 

is_special_array([2, 7, 4, 9, 6, 1, 6, 3]) ➞ True

Even indices: [2, 4, 6, 6];   Odd indices: [7, 9, 1, 3]

is_special_array([2, 7, 9, 1, 6, 1, 6, 3]) ➞ False
Index 2 has an odd number 9.

is_special_array([2, 7, 8, 8, 6, 1, 6, 3]) ➞ False
Index 3 has an even number 8.

Notes N/A

In [9]:
def is_special_array(lst):
    for y in range(len(lst)):
        if y%2==0 and lst[y]%2!=0:
            return False
        elif y%2!=0 and lst[y]%2==0:
            return False
    return True

In [10]:
is_special_array([2, 7, 4, 9, 6, 1, 6, 3])

True

In [11]:
is_special_array([2, 7, 9, 1, 6, 1, 6, 3])

False

In [12]:
is_special_array([2, 7, 8, 8, 6, 1, 6, 3])

False

# 32 Minimal III: You're a Boolean Now
Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find code that is missing a single character in order to pass the tests. However, your goal is to submit a function that is as minimalist as possible. Use the tips in the tips section below.

Write a function that returns True if the given positive integer is a prime number and False if it's not.

Tips Everything you write after if, not, while or around and, or, is, in is interpreted as a boolean.

A function that prints a countdown from the absolute value of x and also prints "hey" if the number is a multiple of 3 and contains the digit "3", could be written as:

def countdown(x): if x < 0: x = x * -1 while x > 0: if x % 3 == 0: if "3" in str(x): print(x) print("hey") else: print(x) x = x - 1 This can be simplified to:

def countdown(x): 

x = abs(x)

while x: print(x) if not x % 3 and "3" in str(x): 

print("hey") 

x -= 1 abs() gets the absolute value of a number. 

while will interpret x as a boolean, exiting the loop after reaching zero. print(x) needs to be called whether x is a "hey number" or not.

This can be done outside of any if statement, instead of in both. Both conditions x % 3 == 0 and "3" in str(x) need to be True, so they can be joined with an and. 

Bonus A more Pythonistic approach:

def countdown(x): for i in range(abs(x), -1, -1): print(x) if not x % 3 and "3" in str(x): print("hey") Notes This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comment tab. Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments tab. You can find all the exercises in this series over here.

In [14]:
def is_prime(num):
    return num > 1 and all(num % i != 0 for i in range(2, int(num ** 0.5) + 1))

In [15]:
is_prime(11)

True

In [41]:
is_prime(10)

False

In [43]:
is_prime(97)

True

# 33 String Pairs
Create a function that takes a string s and returns a list of two-paired characters. If the string has an odd number of characters, add an asterisk * in the final pair.

See the below examples for a better understanding:

Examples string_pairs("mubashir") ➞ ["mu", "ba", "sh", "ir"]

string_pairs("edabit") ➞ ["ed", "ab", "it"]

string_pairs("airforces") ➞ ["ai", "rf", "or", "ce", "s*"] Notes Return [] if the given string is empty.

In [53]:
def string_pairs(s):
    l=[]
    for x in range(0,len(s),2):
        l.append(s[x:x+2])
    if len(s)%2!=0:
        l[-1]=l[-1]+'*'
    return l

In [54]:
string_pairs("airforces")

['ai', 'rf', 'or', 'ce', 's*']

In [55]:
string_pairs("mubashir")

['mu', 'ba', 'sh', 'ir']