# 1 Chat Room Status 

Write a function that returns the number of users in a chatroom based on the following rules:

If there is no one, return "no one online". If there is 1 person, return "user1 online". If there are 2 people, return "user1 and user2 online". If there are n>2 people, return the first two names and add "and n-2 more online". For example, if there are 5 users, return:

"user1, user2 and 3 more online" 

Examples:

chatroom_status([ ]) ➞ "no one online"

chatroom_status(["paRIE_to"]) ➞ "paRIE_to online"

chatroom_status(["s234f", "mailbox2"]) ➞ "s234f and mailbox2 online"

chatroom_status(["pap_ier44", "townieBOY", "panda321", "motor_bike5", "sandwichmaker833", "violinist91"]) ➞ "pap_ier44, townieBOY and 4 more online"

Notes N/A

In [12]:
def chatroom_status(n):
    if len(n)==0:
        return "no one online"
    elif len(n)==1:
        return "1 person is online"
    elif len(n)==2:
        return ("{} and {} online".format(n[0],n[1]))
    else:
        return f'{n[0]} , {n[1]} and {len(n)-2} more online'

In [ ]:
chatroom_status(["pap_ier44", "townieBOY", "panda321", "motor_bike5", "sandwichmaker833", "violinist91"])

'pap_ier44 , townieBOY and 4 more online'

In [4]:
chatroom_status([])

'no one online'

In [5]:
chatroom_status(["amar"])

'1 person is online'

In [11]:
chatroom_status(["amar", "akbar"])

'amar and akbar online'

In [13]:
chatroom_status(["amar","akbar","antony"])

'amar , akbar and 1 more online'

# 2. Count Palindrome Numbers in a Range 

Create a function that returns the number of palindrome numbers in a specified range (inclusive).

For example, between 8 and 34, there are 5 palindromes: 8, 9, 11, 22 and 33. Between 1550 and 1552 there is exactly one palindrome: 1551.

Examples count_palindromes(1, 10) ➞ 9

count_palindromes(555, 556) ➞ 1

count_palindromes(878, 898) ➞ 3 Notes A palindrome number is a number which remains the same when its digits are reversed. For example, 2552 reversed is still 2552. The reflectional symmetry of this number makes it a palindromic number. Single-digit numbers are trivially palindrome numbers.

In [24]:
def count_palindromes(start, end):
    count = 0
    for num in range(start, end + 1):
        if str(num) == str(num)[::-1]:
            count += 1
    return count

In [25]:
count_palindromes(1, 10)

9

In [17]:
count_palindromes(555, 556)

1

In [18]:
count_palindromes(878, 898)

3

# 3. Sum of all Evens in a Matrix
Create a function that returns the sum of all even elements in a 2D matrix.
Notes:
Submatrices will be of equal length.
Return 0 if the 2D matrix only consists of empty submatrices.

In [28]:
def sum_of_evens(lst):
    var=0
    for x in lst:
        for y in x:
            if y%2==0:
                a+=y
    return a

In [29]:
sum_of_evens([ [42, 9], [16, 8] ])

66

In [32]:
sum_of_evens([[1, 0, 2], [5, 5, 7], [9, 4, 3]])

6

In [33]:
sum_of_evens([[],[],[]])

0

# 4. Get the Century
Create a function that takes in a year and returns the correct century.

Examples:

century(1756) ➞ "18th century"

century(1555) ➞ "16th century"

century(1000) ➞ "10th century"

century(1001) ➞ "11th century"

century(2005) ➞ "21st century"

Notes:
All years will be between 1000 and 2010.
The 11th century is between 1001 and 1100.
The 18th century is between 1701-1800.

In [38]:
def century(year):
    if year%100==0:
        return f'{year//100}th century'
    else:
        return f'{(year//100)+1}th century'

In [39]:
century(1756)

'18th century'

In [40]:
century(1001)

'11th century'

In [41]:
century(1000)

'10th century'