In [2]:
#1 Create a function that takes a boolean variable flag and returns it as a string.
#Examples
#bool_to_string(True) ➞ "True"
#bool_to_string(False) ➞ "False"

def bool_to_string(flag):
    if flag==True:
        return "True"
    elif flag==False:
        return "False"
    else:
        return None

In [3]:
bool_to_string(True)

'True'

In [4]:
bool_to_string(False)

'False'

In [4]:
#2 Create a function that returns True when num1 is equal to num2; otherwise return False.
#Examples
#is_same_num(4, 8) ➞ False
#is_same_num(2, 2) ➞  True
#is_same_num(2, "2") ➞ False

def is_same_num(num1,num2):
    if num1==num2:
        return True
    else:
        return False

In [5]:
is_same_num(55,55)
is_same_num(4, 8)
is_same_num(2, 2)
is_same_num(2, "2")

False

In [1]:
#3 Create a function that takes a number as its only argument and returns True if it's less than or equal to zero, 
#otherwise return False.
#Examples
#less_than_or_equal_to_zero(5) ➞ False
#less_than_or_equal_to_zero(0) ➞ True
#less_than_or_equal_to_zero(-2) ➞ True
def less_than_or_equal_to_zero(x):
    if x<=0:
        print(True)
    else:
        print(False)

In [2]:
less_than_or_equal_to_zero(5)
less_than_or_equal_to_zero(0)
less_than_or_equal_to_zero(-2)

False
True
True

In [3]:
#4 Emmy has written a function that returns a greeting to users. 
#However, she's in love with Mubashir, and would like to greet him slightly differently.
#She added a special case in her function, but she made a mistake.
#Can you help her?
#Examples
#greeting("Matt") ➞ "Hello, Matt!"
#greeting("Helen") ➞ "Hello, Helen!"
#greeting("Mubashir") ➞ "Hello, my Love!"
def greetings(x="person1"):
    if x=="Mubashir":
        print("Hello, My Love!")
    else:
        print("Hello, {}!".format(x))

In [4]:
greetings("Matt")
greetings("Helen")
greetings("Mubashir")

Hello, Matt!
Hello, Helen!
Hello, My Love!

In [5]:
#5 Create a function that takes two arguments. Both arguments are integers, a and b. 
#Return True if one of them is 10 or if their sum is 10.
#Examples
#makes10(9, 10) ➞ True
#makes10(9, 9) ➞ False
#makes10(1, 9) ➞ True

def makes10(x,y):
    z=x+y
    if x==10 or y==10 or z==10:
        print(True)
    else:
        print(False)

In [6]:
makes10(2,8)
makes10(2,2)
makes10(10,10)
makes10(9,9)
makes10(7,3)
makes10(10,2)
makes10(9,90)
makes10(9,1)

True
False
True
False
True
True
False
True

In [67]:
#6. Create a function that takes three arguments prob, prize, pay and 
# returns True if prob * prize > pay; otherwise return False. 
# To illustrate: profitable_gamble(0.2, 50, 9)
#... should yield True, since the net profit is 1 (0.2 * 50 - 9), and 1 > 0.

def proftiable_gamble(a,b,c):
    if a*b>c:
        print(True)
    else:
        print(False)

In [71]:
proftiable_gamble(0.2, 50, 9)
proftiable_gamble(0.3, 50, 16)
proftiable_gamble(50, 0.5, 26)

True
False
False

In [72]:
# 7. Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.
# Examples divisible(1) ➞ False, divisible(1000) ➞ True, divisible(100) ➞ True.
def divisible_100(x):
    if x%100==0:
        print(True)
    else:
        print(False)

In [74]:
divisible_100(1000)
divisible_100(90)
divisible_100(900)

True
False
True

In [75]:
# 8. Create a function that takes two strings as arguments and return either True or False depending on 
# whether the total number of characters in the first string is equal to the total number of characters in the second string.
# Examples: comp("AB", "CD") ➞ True, comp("ABC", "DE") ➞ False, comp("hello", "edabit") ➞ False.

def string_length_match(x="string1",y="string2"):
    if len(x)==len(y):
        print(True)
    else:
        print(False)

In [81]:
string_length_match(x="alai",y="balai")
string_length_match(x="yo",y="yo")
string_length_match(x="blah",y="blah")
string_length_match(x="",y="")

False
True
True
True

In [82]:
#9. Given a string, return True if its length is even or False if the length is odd.
# Examples: odd_or_even("apples") ➞ True
# The word "apples" has 6 characters.
# 6 is an even number, so the program outputs True.

def odd_even_string(a="string"):
    b=len(a)
    if b%2==0:
        print(True)
    else:
        print(False)

In [85]:
odd_even_string("apples")
odd_even_string("pears")
odd_even_string("cherry")

True
False
True

In [88]:
#10. Create a function that takes a string; we'll say that the front is the first three characters of the string.
# If the string length is less than three characters, the front is whatever is there. 
# Return a new string, which is three copies of the front.
# Examples front3("Python") ➞ "PytPytPyt", front3("Cucumber") ➞ "CucCucCuc", front3("bioshock") ➞ "biobiobio"

def front3_char_string(y="string"):
    print(y[0:3]*3)

In [90]:
front3_char_string(y="python")
front3_char_string(y="cucumber")
front3_char_string(y="biography")

pytpytpyt
cuccuccuc
biobiobio

In [99]:
# 11. Darts is a target game played by throwing feathered darts at a circular board with numbered spaces. 
# Our darts game is the simplest of all games. 
# The score of a single turn is calculated based on the distance from the middle. 
# You need to create a function that takes the dart location as two cartesian coordinates (x, y) 
# and returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).

def darts(x,y):
    distance = ((x**2)+(y**2))**0.5 # using r =sq.rt(x**2+y**2) we will identify the distance at which dart fell on board
    if distance > 10:
        return 0
    elif distance > 5:
        return 1
    elif distance > 1:
        return 5
    else:
        return 10

In [102]:
darts(0,0)

10

In [103]:
darts(3,2)

5

In [104]:
darts(0,0.8)

10

In [10]:
#12 Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers.
#Examples
#isEvenOrOdd(3) ➞ "odd"
#isEvenOrOdd(146) ➞ "even"
#isEvenOrOdd(19) ➞ "odd"
def isEvenOrOdd(x):
    if x%2==0:
        print("Even")
    else:
        print("Odd")

In [11]:
isEvenOrOdd(3)
isEvenOrOdd(146)
isEvenOrOdd(19)

Odd
Even
Odd

In [12]:
#13 Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s".
#Examples
#is_plural("changes") ➞ True
#is_plural("change") ➞ False
#is_plural("dudes") ➞ True
#is_plural("magic") ➞ False
def is_plural(a="string"):
    if a.endswith("s"):
        print(True)
    else:
        print(False)

In [13]:
is_plural("changes")
is_plural("change")
is_plural("dudes")
is_plural("magic")

True
False
True
False

In [14]:
#14 Create a function that takes a string (a random name). If the last character of the name is an "n", return True, otherwise return False.
#Examples
#is_last_character_n("Aiden") ➞ True
#is_last_character_n("Piet") ➞ False
#is_last_character_n("Bert") ➞ False
#is_last_character_n("Dean") ➞ True

def is_last_character_n(b="string"):
    if b.endswith("n"):
        print(True)
    else:
        print(False)

In [16]:
is_last_character_n("Aiden")
is_last_character_n("julie")
is_last_character_n("Biden")
is_last_character_n("Dean")

True
False
True
True

In [37]:
#15 The packaging system is running wild! The candy is lying loose all over in the warehouse, the cereal is missing,
#and bread is stuffed in a bottle. What is going on here? The candy should be in plastic and the bread should be in
#a bag.
#The packaging machine is running the get_container() function to retrieve the container of a product. But something is not right...
#Examples
#get_container("Bread") ➞ "bag"
#get_container("Beer") ➞ "bottle"
#get_container("Candy") ➞ "plastic"
#get_container("Cheese") ➞ None

def get_container_for(product):
    
    matches = {"Bread":"bag", "Milk":"bottle","Beer":"bottle","Eggs":"carton","Cerials":"box","candy":"plastic","cheese":"packet"}
    
    return matches[product]

In [34]:
get_container_for("candy")

'plastic'

In [35]:
get_container_for("Beer")

'bottle'

In [36]:
get_container_for("Bread")

'bag'

In [50]:
#16 Create a function that returns the opposite of the given boolean, as a number.
#Examples
#flip_bool(True) ➞ 0
#flip_bool(False) ➞ 1
#flip_bool(1) ➞ 0
#flip_bool(0) ➞ 1

def flip_bool(given):
    
    if given=="True" or given==1:
         print(0)
    elif given=="False"or given==0:
        print(1)

#return not given

In [51]:
flip_bool(True)
flip_bool(False)
flip_bool(1)
flip_bool(0)

0
1
0
1

In [4]:
#17 Write a function that accepts base (decimal), height (decimal) and shape ("triangle", "parallelogram") as input and calculates the area of that shape.
#Examples
#area_shape(2, 3, "triangle") ➞ 3
#area_shape(8, 6, "parallelogram") ➞ 48
#area_shape(2.9, 1.3, "parallelogram") ➞ 3.77
def area_shape(b,h,s):
    if s == "triangle":
        area_of_triangle = (0.5*b*h)
        print(area_of_triangle)
    elif s == "parallelogram":
        area_of_parallelogram = b*h
        print(area_of_parallelogram)

In [5]:
area_shape(8.5,8,"triangle")

34.0

In [7]:
area_shape(4.5,7.5,"parallelogram")

33.75

In [2]:
#18 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.
#Examples
#AND(1, 1) ➞ 1
#AND(0, 0) ➞ 0
#OR(1, 0) ➞ 1
#OR(1, 1) ➞ 1
#NOT(0) ➞ 1
#NOT(1) ➞ 0

def AND(x,y):
    if x==1 and y==1:
        print(1)
    else:
        print(0)
def OR(x,y):
    if x==1 or y==1:
        print(1)
    else:
        print(0)
def NOT(x):
    if x==1:
        print(0)
    else:
        print(1)

In [4]:
AND(1, 1)
AND(1, 0)
AND(0, 1)
AND(0, 0)
OR(1, 0)
OR(0, 1)
OR(0, 0)
OR(1, 1)
NOT(0)
NOT(1)

1
0
0
0
1
1
0
1
1
0

In [7]:
#19 A bartender is writing a simple program to determine whether he should serve drinks to someone. He only serves drinks to people 18 and older and when he's not on break.
#Given the person's age, and whether break time is in session, create a function which returns whether he should serve drinks.
#Examples
#should_serve_drinks(17, True) ➞ False
#should_serve_drinks(19, False) ➞ True
#should_serve_drinks(30, True) ➞ False

def should_serve_drinks(x,y):
    if x==18 and y=="True":
        print(True)
    elif x!=18 and y=="False":
        print(True)
    else:
        print(False)

In [8]:
should_serve_drinks(18, "True")
should_serve_drinks(18, "False")
should_serve_drinks(19, "False")
should_serve_drinks(17, "True")

True
False
True
False

In [12]:
#20 Create a function that takes a string txt and a number n and returns the repeated string n number of times.
#If given argument txt is not a string, return Not A String !!
#Examples
#repeat_string("Mubashir", 2) ➞ "MubashirMubashir"
#repeat_string("Matt", 3) ➞ "MattMattMatt"
#repeat_string(1990, 7) ➞ "Not A String !!"

def repeat_string(x,y):
    if x==str(x):
        print(x*y)
    else:
        print("not a string")

In [13]:
repeat_string("Mubashir", 2)
repeat_string("Matt", 3)
repeat_string(1990, 7)

MubashirMubashir
MattMattMatt
not a string

In [6]:
#21 A taxi journey costs $3 for the first kilometer travelled. However, all kilometers travelled after that will
#cost $2 each.
#Create a function which returns the distance that the taxi must've travelled, given the cost as a parameter.
#Examples
#journey_distance(3) ➞ 1
# The first kilometer costs $3
#journey_distance(9) ➞ 4
# The first kilometer costs $3 plus the other three kilometers (costing $2 each)
#journey_distance(5) ➞ 2
def dist_taxi_travel(x):
    if x==3:
        print(1)
    elif x>3:
        a = 1+(x-3)//2
        print(a)

In [8]:
dist_taxi_travel(3)
dist_taxi_travel(9)
dist_taxi_travel(5)

1
4
2

In [9]:
#22 Given a list that contains the fulcrum "f", the effort "e", and the load "l", write a function that determines 
#whether or not the list shows a first class lever, second class lever, or a third class lever.
#Examples
#determine_lever(["e", "f", "l"]) ➞ "first class lever"
#determine_lever(["e", "l", "f"]) ➞ "second class lever"
#determine_lever(["f", "e", "l"]) ➞ "third class lever"
def determine_lever(l):
    if l[0]=="e" and l[1]=="f" and l[2]=="l":
        return "first class lever"
    elif l[0]=="e" and l[1]=="l" and l[2]=="f":
        return "second class lever"
    elif l[0]=="f" and l[1]=="e" and l[2]=="l":
        return "third class lever"
    else:
        return "None"

In [10]:
determine_lever(["e", "f", "l"])

'first class lever'

In [11]:
#23 Write a function that checks whether a person can watch an MA15+ rated movie. One of the following two 
#conditions is required for admittance:
#The person is at least 15 years old.
#They have parental supervision.
#The function accepts two parameters, age and is_supervised. Return a boolean.
#Examples
#accept_into_movie(14, True) ➞ True
#accept_into_movie(14, False) ➞ False
#accept_into_movie(16, False) ➞ True

def accept_into_movie(age,sup):
    return age>=15 or sup==True

In [12]:
accept_into_movie(14, True)

True

In [13]:
#24 Create a function that returns a number, based on the string provided. Here is a list of all digits:
#word("one") ➞ 1
#word("two") ➞ 2
#word("nine") ➞ 9
def word(x):
    y=x.lower()
    num={"one":1,"two":2,"three":3,"four":4,"five":5,"six":6,"seven":7,"eight":8,"nine":9,"zero":0}
    return num[y]

In [15]:
word("two")

2

In [ ]:
#25 Write a function that uses the ternary operator to return "yeah" if b is True, and "nope" otherwise.

In [5]:
#26 Create a function that takes a number x and a character y ("m" for male, "f" for female), and returns the 
#name of an ancestor (m/f) or descendant (m/f).
#If the number is negative, return the related ancestor.
#If positive, return the related descendant.
#You are generation 0. In the case of 0 (male or female), return "me!".
#Examples
#generation(2, "f") ➞ "granddaughter"
#generation(-3, "m") ➞ "great grandfather"
#generation(1, "f") ➞ "daughter"

def generation(x,y):
    
    relations = {-3:{"m":"great grand father", "f":"great grand mother"}, -2:{"m":"grand father", "f":"grand mother"},\
                 -1:{"m":"father", "f":"mother"}, 0:{"m":"me", "f":"me"}, 1:{"m":"son", "f":"daughter"},\
                 2:{"m":"grand son", "f":"grand daughter"},3:{"m":"great grand son", "f":"great grand daughter"}}
    return relations[x][y]

In [9]:
generation(2,"f")

'grand daughter'

In [10]:
generation(-3, "m")

'great grand father'

In [11]:
generation(1, "f")

'daughter'

In [2]:
#27 Backpack Bill and Wallet Will set off for the annual festival. As they approach the stalls, Bill retorts that 
#he'll be able to bring home more stuff than Will. Taking this as a challenge, Will refutes and a competition 
#spurs into action.
#Backpack Bill has an infinite inventory space, but a limited number of coins.
#Wallet Will has an infinite number of coins, but a limited inventory space.
#Create a function that returns the name of the man who can bring home the most items. The parameters are given
#as follows:
#Bill's amount of money.
#Will's amount of inventory space.
#The item's price.
#The item's size.

def who_brings_most(bill_money, will_space, item_price, item_size):
    bill_items = bill_money/item_price
    wil_items = will_space/item_size
    if bill_items > wil_items:
        return "bill_won"
    elif wil_items > bill_items:
        return "will_won"
    else:
        return "it_is_a_Tie"

In [21]:
who_brings_most(3,4,5,6)

'will_won'

In [22]:
who_brings_most(1,2,3,4)

'will_won'

In [3]:
who_brings_most(2,1,4,3)

'bill_won'

In [38]:
#28 Create a function that validates whether a number n is within the bounds of lower and upper. Return False
#if n is not an integer.
#Examples
#int_within_bounds(3, 1, 9) ➞ True
#int_within_bounds(6, 1, 6) ➞ False
#int_within_bounds(4.5, 3, 8) ➞ False

def int_within_bounds(x,y,z):
    if y<x<z and x==int(x):
        print(True)
    else:
        print(False)

In [39]:
int_within_bounds(3, 1, 9)
int_within_bounds(6, 1, 6)
int_within_bounds(4.5, 3, 8)

True
False
False

In [40]:
#29 Write a function that returns the boolean True if the given number is zero, the string "positive" if the 
#number is greater than zero or the string "negative" if it's smaller than zero.
def is_positive_or_negative(n):
    if n>0:
        return "positive"
    elif n<0:
        return "negative"
    else:
        return n==0

In [41]:
is_positive_or_negative(0)

True

In [42]:
is_positive_or_negative(-9)

'negative'

In [43]:
#30 Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.
def is_triangle(a, b, c):
    return a+b>c or a+c>b or b+c>a

In [44]:
is_triangle(2, 3, 4)

True

In [47]:
#31 A "truthy" value is a value that translates to True when evaluated in a Boolean context. All values are truthy 
#unless they're defined as falsy.
#All falsy values are as follows:
#False, None, 0, [], {},""
#Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.

def is_truthy(a):
    if a==False or a==None or a==0 or a==[] or a=={} or a=="":
        print(False)
    else:
        print(True)

In [48]:
is_truthy(0)
is_truthy(False)
is_truthy("")

False
False
False

In [52]:
#32 Write a function that returns True if both numbers are:
#Smaller than 0, OR ...
#Greater than 0, OR ...
#Exactly 0
#Otherwise, return False.
def both(n1, n2):
    if n1>0 and n2>0:
        return True
    elif n1<0 and n2<0:
        return True
    elif n1==0 and n2==0:
        return True
    else:
        return False

In [53]:
both(-5, 2)

False

In [54]:
both(-5, -2)

True

In [55]:
#33 Create a function that takes a list. This list will contain numbers represented as strings.Your function should
#split this list into two new lists. The first list should contain only even numbers. The second only odd. Then, 
#wrap these two lists in one main list and return it.Return an empty list if there are no even numbers, or odd.
def clean_up_list(a):
    eve=[];odd=[];lst=[]
    for x in a:
        y=int(x)
        if y%2==0:
            eve.append(y)
        else:
            odd.append(y)
    lst.append(eve)
    lst.append(odd)
    return lst

In [56]:
clean_up_list(["7"])

[[], [7]]

In [60]:
clean_up_list(["8","2"])

[[8, 2], []]

In [59]:
clean_up_list(["5","6","7","9"])

[[6], [5, 7, 9]]

In [62]:
#34 When creating variables, the variable name must always start with a letter and cannot contain spaces, though 
#numbers and underscores are allowed to be contained in it also.
#Create a function which returns True if a given variable name is valid, otherwise return False.
def variable_valid(var):
    if var[0].isalpha() and var==var.split()[0] and var==var.split()[_] :
        return True
    else:
        return False

In [63]:
variable_valid("odd nums")

False

In [66]:
variable_valid("odd_nums")

True

In [65]:
variable_valid("0dd_nums")

False

In [68]:
#35 In a board game, a piece may advance 1-6 tiles forward depending on the number rolled on a six-sided die. 
#If you advance your piece onto the same tile as another player's piece, both of you earn a bonus.Can you reach 
#your friend's tile number in the next roll? Create a function that returns if it's possible to earn a bonus when 
#you roll the die.
def possible_bonus(a,b):
    if a<b and b-a<=6:
        return True
    else:
        return False

In [69]:
possible_bonus(3, 7)

True

In [70]:
possible_bonus(1, 9)

False

In [71]:
possible_bonus(5, 3)

False

In [74]:
#36 Create a function that takes two integers and checks if they are equal.
def is_equal(a,b):
    return(a==b)

In [75]:
is_equal("a", 1)

False

In [76]:
is_equal(1.0, 1)

True

In [77]:
#37 Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num
#is 1, otherwise return "Bye" + name.

def say_hello_bye(name,num):
    if num==0:
        return ("Bye "+name)
    elif num==1:
        return ("Hello "+name)
    else:
        return(none)

In [78]:
say_hello_bye("raghu",0)

'Bye raghu'

In [79]:
say_hello_bye("raghu",1)

'Hello raghu'

In [81]:
# 38. Create a function that takes three number arguments — one number as an input and two additional numbers 
#representing the endpoints of a closed range — and return the number limited to this range.
#If the number falls within the range, the number should be returned.
#If the number is less than the lower limit of the range, the lower limit should be returned.
#If the number is greater than the upper limit of the range, the upper limit should be returned.
def limit_number(a,l,u):
    if a>l and a<u:
        return a
    elif a<l:
        return l
    else:
        return u

In [82]:
limit_number(4,3,9)

4

In [84]:
limit_number(3,5,8)

5

In [85]:
limit_number(10,3,8)

8

In [103]:
#39 Write a function that takes an integer and:
#If the number is a multiple of 3, return "Hello".
#If the number is a multiple of 5, return "World".
#If the number is a multiple of both 3 and 5, return "Hello World".
def mult_of_3_5(x):
    if x%3==0 and x%5==0:
        return "Hello world"
    elif x%5==0:
        return "world"
    elif x%3==0:
        return "Hello"
    else:
        print(None)

In [99]:
mult_of_3_5(2)

None

In [101]:
mult_of_3_5(20)

'world'

In [100]:
mult_of_3_5(9)

'Hello'

In [104]:
mult_of_3_5(15)

'Hello world'

In [109]:
#40 Given a string and a style character, return the newly formatted string. Style characters are single letters 
#that represent the different types of formatting.
#For the purposes of this challenge, the style characters are as follows:
#"b" is for bold
#"i" is for italics
#"c" is for inline code
#"s" is for strikethrough

def format_string(text, style):
    if style == "b":
        return f"**{text}**"
    elif style == "i":
        return f"*{text}*"
    elif style == "c":
        return f"`{text}`"
    elif style == "s":
        return f"~~{text}~~"
    else:
        return text

In [110]:
format_string("char","b") #bold

'**char**'

In [111]:
format_string("char","c")

'`char`'

In [112]:
#41 Darts is a target game played by throwing feathered darts at a circular board with numbered spaces. 
#Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance 
#from the middle. You need to create a function that takes the dart location as two cartesian coordinates (x, y)
#and returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).
#Bullseye and inner circle scores = 10 points
#Middle ring scores = 5 points
#Outer ring scores = 1 point
#Outside the target = 0 points
#We play it simple so a dart in the double or treble ring counts as usual and does not affect the segment score.
#Board and circle radius is as follows:
#Board radius and outer circle radius = 10 units
#Middle circle radius = 5 units
#Inner circle radius = 1 unit

def darts(x,y):
    distance = ((x**2)+(y**2))**0.5 # using r =sq.rt(x**2+y**2) we will identify the distance at which dart fell on board
    if distance > 10:
        return 0
    elif distance > 5:
        return 1
    elif distance > 1:
        return 5
    else:
        return 10

In [113]:
darts(0,0)

10

In [114]:
darts(3,2)

5

In [115]:
#42 Write a function that returns True if a year is a leap, otherwise return False.A year is a "leap year" if it 
#lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month, 
#creating February 29.A leap year occurs every four years, and will take place if the year is a multiple of four.
#The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must
#be divisible by 400 to be a leap year.Look at the examples, and if you need help, look at the resources panel.
def leap_year_or_not(x):
    if x%400 == 0 and x%100 == 0:
        print(True)
        
    elif x%4==0 and x%100!=0:
        print(True)
    
    else:
        print(False)

In [116]:
leap_year_or_not(1900)
leap_year_or_not(1924)
leap_year_or_not(2000)
leap_year_or_not(2100)

False
True
True
False

In [117]:
#43 Given a pH value, return whether that value is "alkaline" (greater than 7), "acidic" (less than 7), or
#"neutral" (7). Return "invalid" if the value given is less than 0 or greater than 14.
def pH_Value (x):
    if x<0 or x>14:
        print("invalid")
    elif x<7:
        print("acidic")
    elif x>7:
        print("alkaline")
    else:
        print("neutral")

In [118]:
pH_Value (6.8)
pH_Value (7.0)
pH_Value (7.1)
pH_Value (-1)
pH_Value (14.1)

acidic
neutral
alkaline
invalid
invalid

In [126]:
#44 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine 
# whether or not the hurdler can clear all the hurdles.A hurdler can clear a hurdle if their 
# jump height is greater than or equal to the hurdle height.
#Examples
#hurdle_jump([1, 2, 3, 4, 5], 5) ➞ True 
#hurdle_jump([5, 5, 3, 4, 5], 3) ➞ False 
#hurdle_jump([5, 4, 5, 6], 10) ➞ True 
#hurdle_jump([1, 2, 1], 1) ➞ False

def hurdle_jump(hurdle_heights, jump_height):
    for height in hurdle_heights:
        if height > jump_height:
            return False
    else:
        return True

In [128]:
hurdle_jump([1, 2, 3, 4, 5], 5)

True

In [129]:
hurdle_jump([5, 5, 3, 4, 5], 3)

False

In [130]:
hurdle_jump([5, 4, 5, 6], 10)

True

In [131]:
hurdle_jump([1, 2, 1], 1)

False

In [133]:
#45 Create a function which returns the type of triangle, given the side lengths. Return the following values if 
#they match the criteria.
#No sides equal: "scalene"
#Two sides equal: "isosceles"
#All sides equal: "equilateral"
#Less or more than 3 sides given: "not a triangle"

def get_triangle_type(l):
    if len(l)==3:
        if l[0]==l[1] and l[1]==l[2]:
            return "equilateral"
        elif l[0]==l[1] or l[1]==l[2] or l[2]==l[0]:
            return "isosceles"
        else:
            return "scalene"
    else:
        return "not a triangle"

In [134]:
get_triangle_type([2, 6, 5])

'scalene'

In [135]:
get_triangle_type([4, 4, 7])

'isosceles'

In [136]:
get_triangle_type([8, 8, 8])

'equilateral'

In [137]:
get_triangle_type([3, 5, 5, 2])

'not a triangle'

In [32]:
# 46 Write a function that returns True if two rooks can attack each other, and False otherwise.
# Assume no blocking pieces.
# Two rooks can attack each other if they share the same row (letter) or column (number).
#Examples
# can_capture(["A8", "E8"]) ➞ True
# can_capture(["A1", "B2"]) ➞ False
# can_capture(["H4", "H3"]) ➞ True
# can_capture(["F5", "C8"]) ➞ False

def can_capture(lst):
    if lst[0][0]==lst[1][0]:
        return True
    elif lst[0][1]==lst[1][1]:
        return True
    else:
        return False

In [33]:
can_capture(["A8", "E8"])

True

In [34]:
can_capture(["A1", "B2"])

False

In [39]:
#47 Given an integer n. Your task is to find how many digits this integer contains without using str or len methods
def sum_digits(n):
    d=0
    while n>=1:
        d+=1
        n/=10
    return d

In [40]:
sum_digits(100)

3

In [41]:
sum_digits(1000)

4

In [42]:

sum_digits(1)

1

In [37]:
#48 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only 
#identical elements.
def count_identical(lst):
    l=0
    for x in lst:
        if len(x)==1:
            l+=1
        else:
            a=x[0];b=0
            for y in range(1,len(x)):
                if a==x[y]:
                    b+=1
            if b>=1:
                l+=1
    return l

In [38]:
count_identical([[33, 33],[5],["a", "a"],[2, 2, 2],[1, 2, 2],[3, 1]])

4

In [138]:
#49 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. 
#For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.
def month_name(num):
    year={1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",\
          10:"October",11:"November",12:"December"}
    for x in year.keys():
        if x==num:
            month=year[x]
        else:
            continue
    return month

In [139]:
month_name(6)

'June'

In [26]:
#50 Create a function that takes an initial word and extracts any words that start with the same letters as
#the initial word.
def dictionary(initial, words):
    y=[]
    for x in words:
        if initial==x[0:len(initial)]:
            y.append(x)
        else:
            continue
    return y

In [27]:
dictionary("tri", ["triplet", "tries", "trip", "piano", "tree"])

['triplet', 'tries', 'trip']

In [28]:
#51 Create a function that takes a list of strings and returns the words that are exactly four letters.
def is_four_letters(lst):
    l=[]
    for x in lst:
        if len(x)==4:
            l.append(x)
        else:
            continue
    return l

In [29]:
is_four_letters(["Tomato", "Potato", "Pair"])

['Pair']

In [30]:
is_four_letters(["Kangaroo", "Bear", "Fox"])

['Bear']

In [31]:
is_four_letters(["Ryan", "Kieran", "Jason", "Matt"])

['Ryan', 'Matt']

In [23]:
#52 Create a function that takes a year as an argument and returns the corresponding Chinese zodiac.
def chinese_zodiac(y):
    if y%12==1:
        return "Rooster"
    elif y%12==2:
        return "Dog"
    elif y%12==3:
        return "Pig"
    elif y%12==4:
        return "Rat"
    elif y%12==5:
        return "Ox"
    elif y%12==6:
        return "Tiger"
    elif y%12==7:
        return "Rabbit"
    elif y%12==8:
        return "Dragon"
    elif y%12==9:
        return "Snake"
    elif y%12==10:
        return "Horse"
    elif y%12==11:
        return "Sheep"
    else:
        return "Monkey"

In [24]:
chinese_zodiac(1999)

'Rabbit'

In [4]:
#53 Create a function that determines if the temp of the water is considered boiling or not. temp will be measured
#in Fahrenheit and Celsius.
def boiling_point_water(x,y):
    if y=="F" or y=="f" and x==212:
        return True
    elif y=="C" or y=="c" and x==100:
        return True
    else:
        return False

In [6]:
boiling_point_water(211.9,"f")

False

In [7]:
boiling_point_water(99.9,"c")

False

In [8]:
boiling_point_water(100,"c")

True

In [9]:
#54 Create a function that takes two arguments of a list of numbers lst and a constant number n and returns the n
#largest numbers from the given list.
def largest_numbers(n,lst):
    lst.sort(reverse=True)
    l=[]
    for x in range(n):
        l.append(lst[x])
    return l

In [10]:
largest_numbers(2, [4, 3, 2, 1])

[4, 3]

In [11]:
largest_numbers(1, [7, 19, 4, 2])

[19]

In [12]:
largest_numbers(0, [1, 3, 4, 2])

[]

In [13]:
#55 Create a function that takes a range object r,index i,and returns a list where the first element is the number
#of elements in the range object, and the second element is the element of the range object at the given index.
def length_element(r,i):
    l=[]
    l.append(len(r))
    l.append(r[i])
    return l

In [14]:
length_element(range(2, 4), 0)

[2, 2]

In [15]:
length_element(range(12, 15, 2), 1)

[2, 14]

In [16]:
length_element(range(40, 50, 3), 2)

[4, 46]

In [17]:
#56 Two sisters are eating chocolate, whose pieces are represented as subarrays of [l x w].
#Write a function that returns True if the total area of chocolate is the same for each sister.
def test_fairness(agatha,bertha):
    a=0;b=0
    for x in agatha:
        a+=x[0]*x[1]
    for x in bertha:
        b+=x[0]*x[1]
    return a==b

In [18]:
test_fairness([[1, 2], [2, 1]], [[2, 2]])

True

In [19]:
test_fairness([[1, 2], [2, 1]], [[2, 2], [4, 4]])

False

In [1]:
#57 Failed or passed an exam. First parameter is the user's score. Second parameter is the required score.
def grade_requirement(score,requirement):
    if score>=requirement:
        return "passed"
    else:
        return "failed"

In [20]:
grade_requirement(60,60)

'passed'

In [21]:
grade_requirement(59.9,60)

'failed'